<configuration debug="true" scan="true" scanPeriod="15 seconds">

    <property name="LOG_PATH" value="logs/redisconnect-splunk-hec-source.log"/>

    <appender name="REDISCONNECT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="REDISCONNECT_SPLUNK" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <url>${splunk.url}</url>
        <index>${splunk.index}</index>
        <token>${splunk.token}</token>
        <type>${splunk.type}</type>
        <sourcetype>${splunk.sourcetype}</sourcetype>
        <!--<batch_size_count>1</batch_size_count>-->
        <disableCertificateValidation>true</disableCertificateValidation>
        <!--<layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter" />
            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS Z</timestampFormat>
            <appendLineSeparator>true</appendLineSeparator>
        </layout>-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%msg</pattern>
        </layout>
    </appender>

    <logger name="com.redis.connect" level="info" additivity="false">
        <appender-ref ref="REDISCONNECT"/>
        <appender-ref ref="REDISCONNECT_SPLUNK"/>
        <appender-ref ref="CONSOLE" />
    </logger>

    <root>
        <appender-ref ref="REDISCONNECT"/>
        <appender-ref ref="REDISCONNECT_SPLUNK"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>